*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.005),rgba(0, 1, 0, 0)), url(loginbg.jpg);
    /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(eduford_img/saintbaner.png); */
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    /* border: 2px solid red; */
    border-radius: 12px;
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px 60px 70px;
    text-align: center;

}
.form-box h1{
    margin-bottom: 60px;
    /* text-shadow: 70%;
    text-decoration-style: dashed; */
    color: red;
    font-size: 30px;
    position: relative;
}
.form-box h1::after{
    content: ' ';
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background: green;
    position:absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}
.input-field {
    background-color:burlywood;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.1s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;

}
.input-field i{
    margin-left: 15px;
    color: blue;
    border: 2px solid black;
}

.forgot{
    text-align: left;
    font-size: 13px;
    color: red;
}
form p a{
    text-decoration: none;
    color: rgba(0, 98, 255, 0.882);
}
.but{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: ; */
}
.but button{
    flex-basis: 41%;
    /* width: 90px; */
    background: rgba(5, 169, 103, 0.681);
    color: rgba(0, 1, 1, 0.597);
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition:  1s;
}

.input-group{
    height: 280px;
    /* margin-bottom: 100px; */
}

.but button.secondbtn{
    background: rgba(129, 126, 3, 0.699);
    color: rgba(2, 23, 23, 0.708);
}

/* .but button:hover{
    transition: 3s;
    background: red;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.386);
} */